.b_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#best{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#best_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#best_title span{
    color: black;
    font-size: 40px;
    font-weight: bolder;
}

#best_image{
    width: 60%;
    margin: 0px 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.best_category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-bottom: 30px;
}

.best_category div::after{
    display: block;
    content: '';
    border-bottom: solid 3px rgb(6, 107, 207);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: 0% 50%;
}

.best_category .best_select::after{
    display: block;
    content: '';
    border-bottom: solid 3px rgb(6, 107, 207);
    transform: scaleX(1);
    transition: transform 300ms ease-in-out;
    transform-origin: 0% 50%;

}

.best_category div:hover{
    cursor: pointer;
}

.best_category div:hover::after{
    transform: scaleX(1);
}

.best_category div span{
    font-size: 15px;
    font-weight: bolder;
}

.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px;
}

.box{
    margin: 0px 20px;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.over{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    background-color: black;
    width: 100%;
    opacity: 0;
    height: 250px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0px;
    padding: 0px 10px;
}

.content:first-child span{
    font-size: 12px;
    font-weight: bolder;
    color: white;
}

.content:last-child {
    font-size: 10px;
}

.over div{
    width: 100%;
    max-height: 100%;
    color: white;
}

.over:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.img_box{
    width: auto;
    max-height: 100%;
}


img{
    max-width: 100%;
    max-height: 100%;

}